<div class="form-group row">
    <label class="col-form-label col-sm-2" >ID</label>
    <div class="col-sm-6 id="cusid" name="cusid"> 
      <input autofocus class="form-control" type="number" name="cusid" id="cusid" value="<%= model.cusid %>"/> 
    </div>
</div>

<div class="form-group row">
    <label class="col-form-label col-sm-2" for="cusfname">First Name</label>
    <div class="col-sm-6">
      <input class="form-control" type="text" name="cusfname" id="cusfname" value="<%= model.cusfname %>" />
    </div>
</div>
  
<div class="form-group row">
    <label class="col-form-label col-sm-2" for="cuslname">Last Name</label>
    <div class="col-sm-6">
        <input class="form-control" type="text" name="cuslname" id="cuslname" value="<%= model.cuslname %>" />
    </div>
</div>

<div class="form-group row">
    <label class="col-form-label col-sm-2" for="cusstate">State</label>
    <div class="col-sm-6">
        <input class="form-control" type="text" pattern="[a-zA-Z]*" name="cusstate" id="cusstate" value="<%= model.cusstate %>" maxlength="2"/>
    </div>
</div>

<div class="form-group row">
    <label class="col-form-label col-sm-2" for="cussalesytd">Sales YTD</label>
    <div class="col-sm-6">
        <input class="form-control" type="number" name="cussalesytd" id="cussalesytd" value="<%= model.cussalesytd %>" />
    </div>
</div>

<div class="form-group row">
    <label class="col-form-label col-sm-2" for="cussalesprev">Previous Years Sales</label>
    <div class="col-sm-6">
        <input class="form-control" type="number" name="cussalesprev" id="cussalesprev"value="<%= model.cussalesprev %>" />
    </div>
</div>
