<%- include("_header") -%>

<h3>Find Customers</h3>
<h4>Total Number of records in the Database: <%=totRecs%></h4>

<!-- Not using bootstrap, just a simple form that you may enhance -->
<form action="/customer" method="POST">
    <table>
        <tr>
            <td><label for="cusid">ID</label></td>
            <td><input type="number" name="cusId" id="cusId" value="<%= cust.cusid %>" /></td>
            <td>(equals)</td>
        </tr>
        <tr>
            <td><label for="cusfname">First Name</label></td>
            <td><input type="text" name="cusFname" id="cusFname" value="<%= cust.cusfname %>" /></td>
            <td>(begins with)</td>
        </tr>
        <tr>
            <td><label for="cuslname">Lastname</label></td>
            <td><input type="text" name="cusLname" id="cusLname" value="<%= cust.cuslname %>" /></td>
            <td>(begins with)</td>
        </tr>
        <tr>
            <td><label for="cusstate">State</label></td>
            <td><input type="text" name="cusState" id="cusState" value="<%= cust.cusstate %>" maxlength="2"/></td>
            <td>(equals)</td>
        </tr>
        <tr>
            <td><label for="cusSalesytd">Sales YTD</label></td>
            <td><input type="number" name="cusSalesytd" id="cusSalesytd" value="<%= cust.cussalesytd %>" /></td>
            <td>(greater than or equal)</td>
        </tr>
        <tr>
            <td><label for="cussalesprev">Previous Years Sales </label></td>
            <td><input type="number" name="cusSalesPrev" id="cusSalesPrev" value="<%= cust.cussalesprev %>" /></td>
            <td>(greater than or equal)</td>
        </tr>
        <tr>
            <td span="2">
                <input type="submit" class="btn btn-primary" value="Find" />
                <input type="reset" class="btn btn-primary" value="Reset" />
            </td>
        </tr>
    </table>
</form>

<!-- Omitted Error Checking / Needs to be added -->
<% if (type === "post") { %>
    <% if (result.result.length === 0) { %>
        <h3>No records found!</h3>
    <% } else { %>
        <h5>Number of Records Found: <%=result.result.length%></h5>
        <% if (model) { %>
            <script>
                //document.getElementById("cusLname").value
                var modelObject = <%- model %>
                if (modelObject.cusId){
                    document.getElementById("cusId").value = modelObject.cusId
                }
                if (modelObject.cusFname){
                    document.getElementById("cusFname").value = modelObject.cusFname
                }
                if (modelObject.cusLname){
                    document.getElementById("cusLname").value = modelObject.cusLname
                }
                if (modelObject.cusState){
                    document.getElementById("cusState").value = modelObject.cusState
                }
                if (modelObject.cusSalesytd){
                    document.getElementById("cusSalesytd").value = modelObject.cusSalesytd
                }
                if (modelObject.cusSalesPrev){
                    document.getElementById("cusSalesPrev").value = modelObject.cusSalesPrev
                }
            </script>
            <% } %>     
        <table style = "width:75%">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>State</th>
                    <th>Sales YTD</th>
                    <th>Previous Years Sales</th>
                    <th class="d-print-none">
                        <a class="btn btn-sm btn-success" href="/create">Create Customer</a>
                    </th>
                </tr>
            </thead>
            <tbody>
                <% result.result.forEach(customer => { %> 
                    <tr>
                        <td><%= customer.cusid %></td>
                        <td><%= customer.cusfname %></td>
                        <td><%= customer.cuslname %></td>
                        <td><%= customer.cusstate %></td>
                        <td><%= customer.cussalesytd %></td>
                        <td><%= customer.cussalesprev %></td>
                        <td class="d-print-none">
                            <a class="btn btn-sm btn-warning" href="/update/<%= customer.cusid %>">Edit</a>
                            <a class="btn btn-sm btn-danger" href="/delete/<%= customer.cusid %>">Delete</a>
                          </td>
                    </tr>
                <% }); %>
            </tbody>

        </table>
    <% } %>
<% } %>

<%- include("_footer") -%>
